@font-face{font-family:'Cuprum';src:local('Cuprum'),url('./fonts/Cuprum.ttf') format('truetype')}
@font-face{font-family:'Gunplay';src:local('Gunplay'),url('./fonts/gunplay.ttf') format('truetype')}
@font-face{font-family:"RobotoDraft";src:local("RobotoDraft"),local("RobotoDraft-Regular"),local("Roboto-Regular"),url("./fonts/RobotoDraftRegular.woff2") format("woff2"),url("./fonts/RobotoDraftRegular.woff") format("woff")}
@font-face{font-family:"RobotoDraft";font-weight:500;src:local("RobotoDraft Medium"),local("RobotoDraft-Medium"),local("Roboto-Medium"),url("./fonts/RobotoDraftMedium.woff2") format("woff2"),url("./fonts/RobotoDraftMedium.woff") format("woff")}
@font-face{font-family:"RobotoDraft";font-weight:700;src:local("RobotoDraft Bold"),local("RobotoDraft-Bold"),local("Roboto-Bold"),url("./fonts/RobotoDraftBold.woff2") format("woff2"),url("./fonts/RobotoDraftBold.woff") format("woff")}
@font-face{font-family:"RobotoDraft";font-style:italic;src:local("RobotoDraft Italic"),local("RobotoDraft-Italic"),local("Roboto-Italic"),url("./fonts/RobotoDraftItalic.woff2") format("woff2"),url("./fonts/RobotoDraftItalic.woff") format("woff")}

#footer{text-align:center;border-top:1px dotted #CCC;padding-top:.5em;font-size:.75em;color:#999}
#index .main{position:relative;margin:auto;width:50em;text-align:left}
#unauthorized .main{position:relative;margin:auto;width:50em;text-align:center}
#tableClanPlayers tr.oldBattle *{color:#F00}
#progressDialog{position:absolute;top:0;bottom:0;left:0;right:0;z-index:2000;background-color:#eee}
#progressInfoMessage{text-align:center;font-size:1.5em}
/* Header */
.navbar-brand small{position:absolute;left:52px;top:38px;font-size:0.4em;color:#999}
/* Login page */
.social ul{margin:0;padding:0;height:60px}
.social li{display:inline-block;width:60px;height:60px;margin:0;padding:0}
.social li a{display:block;width:60px;height:60px;margin:0;padding:0}
.social li a span{display:none}
.social li.facebook{background-color:#3d5b95}
.social li.twitter{background-color:#37a7df}
.social li.facebook a{background-image:url('./images/share-fb.png');background-position:center center;background-repeat:no-repeat}
.social li.twitter a{background-image:url('./images/share-tweeter.png');background-position:center center;background-repeat:no-repeat}
/* Calendar */
.cal-context{margin-top:2em !important;max-width:1000px;margin:auto}
.dh-event-type-clanwar,.event-type-clanwar{background-color:#000}.dh-event-type-clanwar a{color:#FFF}
.dh-event-type-compa,.event-type-compa{background-color:#b71c1c}
.dh-event-type-stronghold,.event-type-stronghold{background-color:#4a148c}
.dh-event-type-training,.event-type-training{background-color:#43a047}
.dh-event-type-7vs7,.event-type-7vs7{background-color:#1a237e}
.dh-event-type-historical,.event-type-historical{background-color:#ffeb3b}
.dh-event-type-other,.event-type-other{background-color:#9e9e9e}
.header-fixed > thead > tr > th{background-color: rgba(238, 238, 238, 0.9)}
.attendance-yes{color:#4caf50}
.attendance-no{color:#ef6c00}
.attendance-spare{color:#2196f3}
.eventParticipantsList li{cursor:pointer}
.eventParticipantTanks{width:50%;height:200px;background-color:#eee;position:relative;border-left:1px solid #ccc}
.eventParticipantTanks li{cursor:pointer}
.eventParticipantTanks:after,.eventParticipantTanks:before{border:solid transparent;content:' ';height:0;right:100%;position:absolute;width:0}
.eventParticipantTanks:after{border-width:13px;border-right-color:#eee;top:11px}
.eventParticipantTanks:before{border-width:14px;border-right-color:#ccc;top:10px}
.eventLineUp li{height:28px}
/* Install/Admin */
.searchresult{margin:0;padding:0;list-style:none}
.searchresult li{margin:0;padding:0;cursor:pointer}
.alert.clusterEU{padding-left:100px;background-image:url('./images/im_cluster_flag_eu.jpg');background-repeat:no-repeat;background-position:left top;background-size:auto 100%}
.alert.clusterRU{padding-left:100px;background-image:url('./images/im_cluster_flag_ru.jpg');background-repeat:no-repeat;background-position:left top;background-size:auto 100%}
.alert.clusterNA{padding-left:100px;background-image:url('./images/im_cluster_flag_us.jpg');background-repeat:no-repeat;background-position:left top;background-size:auto 100%}
.alert.clusterKR{padding-left:100px;background-image:url('./images/im_cluster_flag_kr.jpg');background-repeat:no-repeat;background-position:left top;background-size:auto 100%}
.alert.clusterASIA{padding-left:100px;background-image:url('./images/im_cluster_flag_sg.jpg');background-repeat:no-repeat;background-position:left top;background-size:auto 100%}
/* Login */
.cluster{width:175px;height:100px;float:left;margin:.25em;vertical-align:middle;text-align:center;cursor:pointer}
.cluster p{color:#FFF;margin:auto;line-height:100px;font-size:1.25em}
.cluster.EU{background:url('./images/im_cluster_flag_eu.jpg') no-repeat left top;background-size:100% auto}
.cluster.RU{background:url('./images/im_cluster_flag_ru.jpg') no-repeat left top;background-size:100% auto}
.cluster.NA{background:url('./images/im_cluster_flag_us.jpg') no-repeat left top;background-size:100% auto}
.cluster.KR{background:url('./images/im_cluster_flag_kr.jpg') no-repeat left top;background-size:100% auto}
.cluster.ASIA{background:url('./images/im_cluster_flag_sg.jpg') no-repeat left top;background-size:100% auto}
/* Personnel */
.role{padding-left:30px !important}
span.role{display:inline-block;height:28px;line-height:28px}
.role_commander{background:url('./images/role_commander.png') no-repeat left center}
.role_executive_officer{background:url('./images/role_executive_officer.png') no-repeat left center}
.role_personnel_officer{background:url('./images/role_personnel_officer.png') no-repeat left center}
.role_combat_officer{background:url('./images/role_combat_officer.png') no-repeat left center}
.role_intelligence_officer{background:url('./images/role_intelligence_officer.png') no-repeat left center}
.role_quartermaster{background:url('./images/role_quartermaster.png') no-repeat left center}
.role_recruitment_officer{background:url('./images/role_recruitment_officer.png') no-repeat left center}
.role_junior_officer{background:url('./images/role_junior_officer.png') no-repeat left center}
.role_private{background:url('./images/role_private.png') no-repeat left center}
.role_recruit{background:url('./images/role_recruit.png') no-repeat left center}
.role_reservist{background:url('./images/role_reservist.png') no-repeat left center}
/* Tanks */
.tank:not(.ingarage) td {background-color:#CCC}
.tableTanks thead .tankcontour{width:50px}
.tableTanks thead .tankmastery{width:50px}
.tableTanks thead .tanktiers{width:70px}
.tableTanks thead .tanktype{width:70px}
.ispremium .tankname{color:#ffc107}
.tankmastery0{background: url('./images/markofmastery0.png') no-repeat left center;background-size:24px 24px}
.tankmastery1{background: url('./images/markofmastery1.png') no-repeat left center;background-size:24px 24px}
.tankmastery2{background: url('./images/markofmastery2.png') no-repeat left center;background-size:24px 24px}
.tankmastery3{background: url('./images/markofmastery3.png') no-repeat left center;background-size:24px 24px}
.tankmastery4{background: url('./images/markofmastery4.png') no-repeat left center;background-size:24px 24px}
.tanklevel1{background: url('./images/Tier_1_icon.png') no-repeat 25px 2px}
.tanklevel2{background: url('./images/Tier_2_icon.png') no-repeat 25px 2px}
.tanklevel3{background: url('./images/Tier_3_icon.png') no-repeat 25px 2px}
.tanklevel4{background: url('./images/Tier_4_icon.png') no-repeat 25px 2px}
.tanklevel5{background: url('./images/Tier_5_icon.png') no-repeat 25px 2px}
.tanklevel6{background: url('./images/Tier_6_icon.png') no-repeat 25px 2px}
.tanklevel7{background: url('./images/Tier_7_icon.png') no-repeat 25px 2px}
.tanklevel8{background: url('./images/Tier_8_icon.png') no-repeat 25px 2px}
.tanklevel9{background: url('./images/Tier_9_icon.png') no-repeat 25px 2px}
.tanklevel10{background: url('./images/Tier_10_icon.png') no-repeat 25px 2px}
.tankcontainer{display:block;float:left;background-position:left top}
.tankcontainer.big img{width:160px;height:100px}
.tankcontainer.small{padding-left:10px}
.tankcontainer .tankname{padding-left:24px}
td.tankowners .ign.active{font-weight:bold}
.playerdetails{width:30%;margin:.5em}
/* Strats */
#stratEditor{display:none}
body#strats #listMaps{display:none}
body#weekview{padding-top:0}
header{position:fixed;top:0;left:0;bottom:0}
#menu{background:#EEE;position:absolute;top:60px;bottom:0;left:0}
#menu *{color:#000;text-decoration:none}
#menu select, #menu input, #menu option, #menu textarea{color:#000}
#menu .colorpicker input{color:#898989}
#menu > ul{display:block;margin:0;padding:0}
#menu > ul > li{list-style:none;margin:0;padding:.5em}
#menu > ul > li > div{display:none;position:absolute;left:32px;top:0;bottom:0;z-index:1000;padding:1em;background:rgba(240, 240, 240, .9)}
#menu > ul > li:hover > div{display:block}
#menu > ul > li > ul{display:none}
#menu .operation{padding:0 0 0 20px}
#menu .operation.delete{background:url('./icons/delete.png') no-repeat left top}
#menu .operation.select{background:url('./icons/layout.png') no-repeat left top}
#menu > ul > li > a{display:block;width:24px;height:24px;border:1px solid transparent;line-height:24px;text-align:center}
#menu > ul > li > a.selected{border:1px solid #999;background-color:#CCC}
#menu > ul:hover > li > a{}
#menu label.fortext{display:inline-block;width:5em;text-align:right}
#menuMap div{min-width:20em}
#menuEditStrat > a{background:url('./icons/book.png') no-repeat center center}
#menuEditStrat > div{min-width:25em}
#lblStratDesc{width:100%;height:25em}
#menuEditShapes ul{list-style:none;margin:0;padding:0}
#menuEditShapes li{margin:0;padding:0}
#menuEditShapes a.shape{display:block;width:24px;height:24px}
#menuEditShapes a.shape.selected{border:1px solid #999;background-color:#CCC}
#menuEditShapes a.shape span{display:none}
#menuEditShapes > a.ellipse,#menuEditShapes a.shape.ellipse{background:url('./icons/layer-shape-ellipse.png') no-repeat center center}
#menuEditShapes > a.rect,#menuEditShapes a.shape.rect{background:url('./icons/layer-shape.png') no-repeat center center}
#menuEditShapes > a.polygon,#menuEditShapes a.shape.polygon{background:url('./icons/layer-shape-polygon.png') no-repeat center center}
#colorSelectorLine{width:4em}
#menuEditLines > div{min-width:12em}
main{text-align:center;padding-top:30px}
#mapDesc{color:#999;display:block;font-size:.8em}
#selLangContainer{position:absolute;right:0;top:0;display:none}
#selLangContainer label{display:none}
#mapContainer{margin:auto}
#mapContainer text{text-align:center}
#mapContainer .team0{stroke:#FFF}
#mapContainer .team1{stroke:#0F0}
#mapContainer .team2{stroke:#F00}
#mapContainer text.team0{fill:#FFF}
#mapContainer text.team1{fill:#0F0}
#mapContainer text.team2{fill:#F00}
#gridOverlay text{fill:#000}
#gridOverlay line.outer{stroke:#FFF;stroke-width:0.5;stroke-dasharray:1,1}
#gridOverlay line.inner{stroke:#000;stroke-width:0.5;stroke-dasharray:1,1}
#basesOverlay circle{fill-opacity:.5}
#basesOverlay polygon{fill-opacity:.5;fill:#333}
#basesOverlay circle.team0{fill:#FFF}
#basesOverlay circle.team1{fill:#0F0}
#basesOverlay circle.team2{fill:#F00}
#textsOverlay text{fill:#FFF}
#elementsOverlay text{fill:#FFF}
#scaleOverlay line{stroke:#FFF;stroke-width:0.5}
#scaleOverlay text{fill:#FFF}
#shapesOverlay *{stroke:#FFF;stroke-width:1;fill:#333;fill-opacity:.5}
#linesOverlay polyline{stroke:#0F0;fill:none;stroke-linecap:round}
#linesOverlay polyline.drawing{stroke-opacity:.5}
.elements{list-style:none;padding:0;margin:0}
.elements li{margin:.25em}
.element{list-style:none;padding:0;margin:0;display:block;width:24px;height:24px;border:1px solid transparent}
.element.selected{border:1px solid #999;background-color:#CCC}
.element span{display:none}
.moving,.resizing,.rotating{opacity:.5}
input.overlay, textarea.overlay{border:1px dotted #FFF;background:transparent}
.contextMenu{position:absolute;display:none;border:1px solid #999;background:#FFF;opacity:.5;padding:2px;height:22px}
.contextMenu:hover{opacity:1}
.contextMenu *{font-size:.9em}
.contextMenu label{color:#FFF;margin:-9px 0 0 0;padding:0}
.contextMenu select{margin:-2px 0 0 0}
.contextMenu ul{list-style:none;margin:0;padding:0}
.contextMenu li{display:inline-block;margin:0;padding:0}
.contextMenu a{display:block;width:16px;height:16px}
.contextMenu a span{display:none}
.contextMenu a.move{background:url('./icons/arrow_nsew.png') no-repeat left top}
.contextMenu a.delete{background:url('./icons/cross.png') no-repeat left top}
.contextMenu a.modifytext{background:url('./icons/edit.png') no-repeat left top}
.contextMenu a.smallertext{background:url('./icons/edit-size-down.png') no-repeat left top}
.contextMenu a.biggertext{background:url('./icons/edit-size-up.png') no-repeat left top}
.contextMenu a.rotate{background:url('./icons/arrow_rotate_clockwise.png') no-repeat left top}
.contextMenu a.resize{background:url('./icons/arrow_out.png') no-repeat left top}
.contextMenu a.options{background:url('./icons/gear.png') no-repeat left top}
.contextMenu a.textPosition.top{background:url('./icons/text_padding_bottom.png') no-repeat left top}
.contextMenu a.textPosition.top.selected{background:url('./icons/text_padding_bottom_faded.png') no-repeat left top}
.contextMenu a.textPosition.right{background:url('./icons/text_padding_left.png') no-repeat left top}
.contextMenu a.textPosition.right.selected{background:url('./icons/text_padding_left_faded.png') no-repeat left top}
.contextMenu a.textPosition.bottom{background:url('./icons/text_padding_top.png') no-repeat left top}
.contextMenu a.textPosition.bottom.selected{background:url('./icons/text_padding_top_faded.png') no-repeat left top}
.contextMenu a.textPosition.left{background:url('./icons/text_padding_right.png') no-repeat left top}
.contextMenu a.textPosition.left.selected{background:url('./icons/text_padding_right_faded.png') no-repeat left top}
#shapeHandlers{display:none}
.handler{display:block;width:16px;height:16px;opacity:.5;border:1px solid #000;background:#666;position:absolute}
.handler:hover{opacity:1}
.mapstateretired .thumbnail{background-color:#CCC}

.element.HT0,#menuEditElements > a.HT0{background-image:url('../../../res/wot/elements/HT0.png');background-repeat:no-repeat;background-position:center center}
.element.HT1,#menuEditElements > a.HT1{background-image:url('../../../res/wot/elements/HT1.png');background-repeat:no-repeat;background-position:center center}
.element.HT2,#menuEditElements > a.HT2{background-image:url('../../../res/wot/elements/HT2.png');background-repeat:no-repeat;background-position:center center}
.element.MT0,#menuEditElements > a.MT0{background-image:url('../../../res/wot/elements/MT0.png');background-repeat:no-repeat;background-position:center center}
.element.MT1,#menuEditElements > a.MT1{background-image:url('../../../res/wot/elements/MT1.png');background-repeat:no-repeat;background-position:center center}
.element.MT2,#menuEditElements > a.MT2{background-image:url('../../../res/wot/elements/MT2.png');background-repeat:no-repeat;background-position:center center}
.element.LT0,#menuEditElements > a.LT0{background-image:url('../../../res/wot/elements/LT0.png');background-repeat:no-repeat;background-position:center center}
.element.LT1,#menuEditElements > a.LT1{background-image:url('../../../res/wot/elements/LT1.png');background-repeat:no-repeat;background-position:center center}
.element.LT2,#menuEditElements > a.LT2{background-image:url('../../../res/wot/elements/LT2.png');background-repeat:no-repeat;background-position:center center}
.element.TD0,#menuEditElements > a.TD0{background-image:url('../../../res/wot/elements/TD0.png');background-repeat:no-repeat;background-position:center center}
.element.TD1,#menuEditElements > a.TD1{background-image:url('../../../res/wot/elements/TD1.png');background-repeat:no-repeat;background-position:center center}
.element.TD2,#menuEditElements > a.TD2{background-image:url('../../../res/wot/elements/TD2.png');background-repeat:no-repeat;background-position:center center}
.element.SPG0,#menuEditElements > a.SPG0{background-image:url('../../../res/wot/elements/SPG0.png');background-repeat:no-repeat;background-position:center center}
.element.SPG1,#menuEditElements > a.SPG1{background-image:url('../../../res/wot/elements/SPG1.png');background-repeat:no-repeat;background-position:center center}
.element.SPG2,#menuEditElements > a.SPG2{background-image:url('../../../res/wot/elements/SPG2.png');background-repeat:no-repeat;background-position:center center}

/* Move down content because we have a fixed navbar that is 50px tall */
body{padding-top:50px}
/* Global add-ons */
.sub-header{padding-bottom:10px;border-bottom:1px solid #eee}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top{border:0}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar{display:none}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.navbar-brand{font-family:Gunplay;font-size:3em}