@font-face{font-family:'Cuprum';src:local('Cuprum'),url('./fonts/Cuprum.ttf') format('truetype')}
@font-face{font-family:'Gunplay';src:local('Gunplay'),url('./fonts/gunplay.ttf') format('truetype')}
html{font-family:Arial,Helvetica,Sans-serif;font-size:10px}
body{margin:0;padding:0}
a img{border:none}
a{text-decoration:none;color:#700}
a:hover{text-decoration:underline}
header{background:#555;position:fixed;top:0;right:0;left:0;margin:0;padding:0 0 0 100px}
header h1{font-family:'Gunplay';color:#FFF;font-size:4em;font-weight:normal;padding:0;margin:0}
#userInfos{margin:0;padding:0;float:right}
#userInfos p{margin:0;padding:0}
#btnLogin{display:inline-block;height:16px;background:url('./images/key.png') no-repeat left top;padding:0 0 0 18px}
#main{margin:100px 100px 0 100px}
#main h1{}
footer{width:100%;margin:auto;border-top:1px solid #CCC}
footer p{text-align:center;color:#666;font-size:.75em}
#menu ul{list-style:none;margin:0;padding:0}
#menu ul li{float:left;margin:0 1em .5em 0}
#menu ul li a{color:#FFF}
#menu ul li.sel a{font-weight:bold}
#userDetails{display:none}